<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/images/logoIcon.png?{{ cache_id }}" />
    <!-- CSS Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css?{{ cache_id }}"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- CSS Styles-->
    <link
      rel="stylesheet"
      href="../static/styles/generalStyles.css?{{ cache_id }}"
    />
    <link
      rel="stylesheet"
      href="../static/styles/stylesUserPets.css?{{ cache_id }}"
    />
    <link
      rel="stylesheet"
      href="../static/styles/settings_user.css?{{ cache_id }}"
    />
    <!--footer Icons link-->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?{{ cache_id }}"
      rel="stylesheet"
    />
    <title>Pets Tracker</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      type="text/javascript"
      src="../static/scripts/add_pet.js?{{ cache_id }}"
    ></script>
    <!-- Message to success saving new data -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
  </head>
  <body>
    <input
      id="user_id"
      type="hidden"
      name="myHiddenField"
      value="{{ user_id }}"
    />
    <input id="userName" type="hidden" name="myHiddenField" value="{{ user_name }}" />

    <!-- Main boostrap container -->
    <div class="d-flex flex-column justify-content-between">
      <!-- Header: nav, bakground image, sign up and dog image  -->
      <div class="header">
        <!-- Nav menu  -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <svg
            width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-person"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
            />
          </svg>
          <a class="navbar-brand" href="/MyProfile">{{user_name}}</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/MyProfile"
                  >My pets<span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/settings_user"
                  >Settings</a
                >
              </li>
            </ul>
            <a id="qsLogoutBtn" href="/logout">
              <button class="btn btn-default btn-logout">Logout</button>
            </a>
          </div>
        </nav>
      </div>

      <!-- Adding boostrap  -->
      <div class="container-fluid align-items-center justify-content-between">
        <div class="container">
          <div class="row justify-content-center">
            <h5>AGREGAR NUEVA MASCOTA</h5>
          </div>
        </div>
        <div class="container col-4">
          <div class="box">
            <form>
              <div class="form-group">
                <label for="fullname1">Nombre mascota</label>
                <input
                  type="text"
                  class="form-control"
                  id="fullname1"
                  required
                />
              </div>
              <div class="form-group">
                <label for="specie1">Especie</label>
                <input
                  type="text"
                  class="form-control"
                  id="specie1"
                  aria-describedby="specieHelp"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >Gato, perro, etc.</small
                >
              </div>
              <div class="form-group">
                <label for="race1">Raza</label>
                <input type="text" class="form-control" id="race1" />
              </div>
              <div class="form-group">
                <label for="sex1">Sexo</label>
                <input type="text" class="form-control" id="sex1" />
              </div>
              <div class="form-group">
                <label for="birthday1">Fecha de cumpleaños</label>
                <input
                  type="date"
                  name="birthday"
                  class="form-control"
                  id="birthday1"
                  min="2010-01-01"
                  max="2050-12-31"
                  required
                />
              </div>
              <div class="form-group">
                <label for="color1">Color</label>
                <input type="text" class="form-control" id="color1" />
              </div>
              <div class="form-group">
                <label for="description1">Descripcion</label>
                <input type="text" class="form-control" id="description1" />
              </div>
              <button type="button" id="boton-pet" class="btn btn-default ml-2">
                Registrar mascota
              </button>
            </form>
          </div>
        </div>
      </div>
      <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <!--Column1-->
                <div class="footer-pad">
                  <h4>Team Members</h4>
                  <ul class="list-unstyled">
                    <li><a href="#">Juan Olivares</a></li>
                    <li><a href="#">Bryan Builes</a></li>
                    <li><a href="#">Erika Osorio</a></li>
                    <li><a href="#">Nicolas Zarate</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!--Column1-->
                <div class="footer-pad">
                  <h4>Info</h4>
                  <ul class="list-unstyled">
                    <li><a href="#">Description</a></li>
                    <li><a href="#">Collars</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!--Column1-->
                <div class="footer-pad">
                  <h4>Run it</h4>
                  <ul class="list-unstyled">
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Sign Up</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <h4>Follow Us</h4>
                <ul class="social-network social-circle">
                  <li>
                    <a href="#" class="icoFacebook" title="Facebook"
                      ><i class="fa fa-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="icoLinkedin" title="Linkedin"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12 copy">
                <p class="text-center">
                  &copy; Copyright 2020 - Infinity Systems. All rights reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  </body>
</html>
