<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/images/logoIcon.png?{{ cache_id }}" />
    <!-- CSS Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css?{{ cache_id }}"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- CSS Styles-->
    <link
      rel="stylesheet"
      href="../static/styles/generalStyles.css?{{ cache_id }}"
    />
    <link
      rel="stylesheet"
      href="../static/styles/stylesUserPets.css?{{ cache_id }}"
    />
    <!--footer Icons link-->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?{{ cache_id }}"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Message to success saving new data -->

    <title>Pet Tracker | My Pets</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      type="text/javascript"
      src="../static/scripts/profilescript.js?{{ cache_id }}"
    ></script>
  </head>
  <body>
    <input id="sub" type="hidden" name="myHiddenField" value="{{ user_id }}" />
    <input
      id="userName"
      type="hidden"
      name="myHiddenField"
      value="{{ user_name }}"
    />
    <!-- Main boostrap container -->
    <div class="d-flex flex-column justify-content-between">
      <!-- Header: nav, bakground image, sign up and dog image  -->
      <div class="header">
        <!-- Nav menu  -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <img
            src="../static/images/man.png"
            width="50px"
            height="50px"
            alt=""
          />
          <h3 class="text-light" href="#">{{user_name}}</h3>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-5 mr-auto">
              <li class="nav-item active">
                <a class="nav-link text-light" href=""
                  >Mis mascotas<span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="/settings_user"
                  >Opciones</a
                >
              </li>
            </ul>
            <a id="qsLogoutBtn" href="/logout">
              <button class="btn btn-light btn-logout firstBtn">Logout</button>
            </a>
          </div>
        </nav>
      </div>
      <div class="pet contentProfile d-flex flex-column align-items-center">
        <a href="/add_pet?user-id={{user_id}}" class="mb-5" id="add_pet">
          <button class="btn btn-default w-100" id="qsLoginBtn">
            Agregar mascota +
          </button>
        </a>
      </div>
      <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <!--Column1-->
                <div class="footer-pad">
                  <h4>Miembros del equipo</h4>
                  <ul class="list-unstyled">
                    <li>
                      <a target="_blank" href="https://github.com/JuanOlivares1"
                        >Juan Olivares</a
                      >
                    </li>
                    <li>
                      <a target="_blank" href="https://github.com/bryanbuiles"
                        >Bryan Builes</a
                      >
                    </li>
                    <li>
                      <a target="_blank" href="https://github.com/erikaosgue"
                        >Erika Osorio</a
                      >
                    </li>
                    <li>
                      <a target="_blank" href="https://github.com/Nicolanz"
                        >Nicolas Zarate</a
                      >
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-md-3 col-sm-6">
                <!--Column1-->
                <div class="footer-pad">
                  <h4>Mas</h4>
                  <ul class="list-unstyled">
                    <li><a href="">Mis mascotas</a></li>
                    <li><a href="/settings_user">Opciones</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <!--Column1-->
                <div class="footer-pad">
                  <h4>Salir</h4>
                  <ul class="list-unstyled">
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-md-3">
                <h4>Siguenos</h4>
                <ul class="social-network social-circle">
                  <li>
                    <a
                      href="https://www.facebook.com/HolbertonSchoolColombia"
                      target="_blank"
                      class="icoFacebook"
                      title="Facebook"
                      ><i class="fa fa-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/company/holberton-school-colombia/"
                      target="_blank"
                      class="icoLinkedin"
                      title="Linkedin"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12 copy">
                <p class="text-center">
                  &copy; Copyright 2020 - Infinity Systems. All rights reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <!-- importing axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
