<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/images/logoIcon.png?{{ cache_id }}" />
    <!-- CSS Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css?{{ cache_id }}"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <!-- CSS Styles-->
    <link
      rel="stylesheet"
      href="../static/styles/generalStyles.css?{{ cache_id }}"
    />
    <link
      rel="stylesheet"
      href="../static/styles/stylesMyProfile.css?{{ cache_id }}"
    />
    <link
      rel="stylesheet"
      href="../static/styles/settings_user.css?{{ cache_id }}"
    />
    <!--footer Icons link-->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?{{ cache_id }}"
      rel="stylesheet"
    />
    <title>Pets Tracker</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script
      type="text/javascript"
      src="../static/scripts/settings_user.js?{{ cache_id }}"
    ></script>
  </head>

  <body>
    <!-- Main boostrap container -->
    <div class="container-fluid">
      <!-- Header: nav, bakground image, sign up and dog image  -->
      <div class="header">
        <!-- Nav menu  -->
        <nav
          class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex flex-grow flex-nowrap align-items-center justify-content-between"
        >
          <h3>Pets Tracker</h3>
          <a id="qsLogoutBtn" href="/logout"
            ><button class="btn btn-default btn-logout">Logout</button>
          </a>
        </nav>
        <!-- content of the header  -->
        <div class="headerContent">
          <!-- Background park image -->
          <img
            src="../static/images/pruebaImagen2.jpg"
            class="img-fluid"
            id="parkImage"
            alt=""
          />
        </div>
      </div>

      <!-- Adding boostrap  -->
      <div class="container-fluid align-items-center justify-content-between">
        <div class="container col-4">
          <div class="box">
            <form>
              <div class="form-group">
                <label for="fullname1">Nombre Completo</label>
                <input type="text" class="form-control" id="fullname1" />
              </div>
              <div class="form-group">
                <label for="username1">Nombre Usuario</label>
                <input type="text" class="form-control" id="username1" />
              </div>
              <div class="form-group">
                <label for="cel1">Celular</label>
                <input
                  type="tel"
                  class="form-control"
                  id="cel1"
                  name="phone"
                  pattern="[0-9]{10}"
                  aria-describedby="telHelp"
                />
              </div>
              <div class="form-group">
                <label for="document1">Documento</label>
                <input
                  type="number"
                  class="form-control"
                  id="document1"
                  min="100000000"
                  max="9999999999"
                />
              </div>
              <div class="form-group">
                <label for="addres1">Dirección</label>
                <input type="text" class="form-control" id="addres1" />
              </div>
              <div class="form-group">
                <label for="email1">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email1"
                  aria-describedby="emailHelp"
                  value=""
                />
                <small id="emailHelp" class="form-text text-muted"
                  >We'll never share your email with anyone else.</small
                >
              </div>
              <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" class="form-control" id="password1" />
              </div>
              <button type="submit" id="boton-guardar" class="btn btn-primary">
                Guardar
              </button>
            </form>
          </div>
        </div>
      </div>
      <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <!--Column1-->
                <div class="footer-pad">
                  <h4>Heading 1</h4>
                  <ul class="list-unstyled">
                    <li><a href="#"></a></li>
                    <li><a href="#">Payment Center</a></li>
                    <li><a href="#">Contact Directory</a></li>
                    <li><a href="#">Forms</a></li>
                    <li><a href="#">News and Updates</a></li>
                    <li><a href="#">FAQs</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!--Column1-->
                <div class="footer-pad">
                  <h4>Heading 2</h4>
                  <ul class="list-unstyled">
                    <li><a href="#">Website Tutorial</a></li>
                    <li><a href="#">Accessibility</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Webmaster</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!--Column1-->
                <div class="footer-pad">
                  <h4>Heading 3</h4>
                  <ul class="list-unstyled">
                    <li><a href="#">Parks and Recreation</a></li>
                    <li><a href="#">Public Works</a></li>
                    <li><a href="#">Police Department</a></li>
                    <li><a href="#">Fire</a></li>
                    <li><a href="#br">Mayor and City Council</a></li>
                    <li>
                      <a href="#"></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <h4>Follow Us</h4>
                <ul class="social-network social-circle">
                  <li>
                    <a href="#" class="icoFacebook" title="Facebook"
                      ><i class="fa fa-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="icoLinkedin" title="Linkedin"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 copy">
                <p class="text-center">
                  &copy; Copyright 2020 - Infinity Systems. All rights reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
