.contenedor {
  margin-top: 5%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  border: 1px solid black;

}
.Border {
  border: 2px solid black;
}


.pet {
  width: 330px;
  height: auto;
}
.Border {
  background: white;
}
