
/* Changing size of the Form settings */
.box {
    width: auto;
    height: auto;
    border-radius: 15px;
    border: 1px solid white;
    background-color: white;
    padding: 30px;
    margin-top: 30px;
}

.box form {
    width: 100%;
}

.container-fluid {
    width: 100%;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
}
