
.header{
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: auto;
    background: white;
    border-bottom: 1px solid #DADDE2;
    /* border-bottom: 1px solid #00000029; */
}

/* Dogs prfoile */
/* .contentProfile{ */
    /* border: 1px solid black; */
    /* padding-bottom: 65px; */
/* } */

#dogProfile{
    max-width: 100%;
    max-height: 100%;
}
.info{
    background-color: white;
}
.text-title {
    position: absolute;
    bottom: 200px;
    left: 35px;
    font-size: 53px;
    font-family: 'League Spartan Bold', arial;
}
