/* Dogs prfoile */
body > div{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    max-height: auto;
}
.contentProfile{
    /* border: 1px solid black; */
    margin-top: 30px;
}
.pet_target{
    margin-top: 30px;
    /* border: 1px solid black; */
    min-height: 350px;
    max-height: 2000px;
}
.datos > h4{
    font-size: 30px;
}
.iconos{
    /* border:1px solid grey; */
    height: 50px;
}
.pet_target a{
    width:20%;
    height: 50px;
    /* border:1px solid black; */
    color: black;
}
.pet_target a:hover{
    color: grey;
    transition: ease-in 0.2s;
}
/* MEDIA QUERIES */
@media (min-width: 750px) {
    #img1{
        width: 0px;
        height:0px;
        margin:0;
        padding: 0;
        
    }
    #img2{
        width: 0px;
        height:0px;
        margin:0;
        padding: 0;
    }
}
@media (max-width: 750px) {
    #img3{
        width: 0px;
        height:0px;
        margin:0;
        padding: 0;
        
    }
    #img4{
        width: 0px;
        height:0px;
        margin:0;
        padding: 0;
    }
}
#add_pet {
  width: 50%;
}

element.style {
    background: white;
    box-shadow: 0 2px 4px 1px #e6e6e677;
    border-bottom: 1px solid #EAEAEA;
    padding: 6px 0;
}
